#toolBar .line {
  height: 0.15vh;
  background: #efefef;
  grid-column: 2/20;
  grid-row: 1;
  margin: 2vh 0;
}
#toolBar .line:last-child {
  grid-column: 2/20;
  grid-row: 3 !important;
}
#toolBar .action_btn {
  all: unset;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);

  border-radius: 1vh;
  background: #e8e7e3;
  height: 7vh;
  grid-row: 2;
  width: 95%;
}
#toolBar #edit {
  grid-column: 2/11;
  justify-self: start;
}
#toolBar #share {
  grid-column: 11/20;
  justify-self: end;
}
#toolBar .icon {
  align-self: center;
  justify-self: center;
  margin-top: 0.5vh;
  height: 3.75vh;
  width: 3.75vh;
}
#toolBar #edit .icon {
  background: url(./edit.svg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#toolBar #share .icon {
  background: url(./share.svg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
#toolBar .action_btn .text {
  text-decoration: none;
  align-self: start;
  height: 2.5vh;
  text-align: center;
  font-size: 1.75vh;
  color: #007aff;
}
