#infoCard {
  position: fixed;
  top: 0;
  z-index: 5;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(12, 12, 12, 0.3);
  animation: fadeIn 250ms ease-in-out;
  pointer-events: none;
}
.infocard #header {
  display: grid;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(6, auto);
  margin-bottom: 2.5vh;
}
/* card styling */
.infocard #handle {
  grid-column: 10/12;
  grid-row: 1;
  justify-self: center;

  width: 7.5vw;
  height: 0.6vh;
  margin: 0.5vh 0;
  background: #9f9f9f;
  border-radius: 0.6vh;
  transition: all 200ms ease-in-out;
}
.infocard #content {
  grid-column: 2/18;
  grid-row: 2;
  margin-bottom: 5px;
}
.infocard #close {
  grid-column: 18/20;
  grid-row: 2;
  background: url(./close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  align-self: end;
  justify-self: end;
  width: 6.5vw;
  height: 6.5vw;
  /* background: grey; */
}
.infocard #date {
  grid-column: 2/20;
  grid-row: 3;

  margin: 2vh 0;
  font-size: 2.5vh;
  font-weight: 500;
}
.infocard #toolBar {
  grid-column: 1/21;
  grid-row: 4/6;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, auto);
}

#body .title {
  grid-column: 2/20;
  grid-row: 1;
  margin-bottom: 1vh;
}
#body .content {
  margin-bottom: 5vh;
  width: 100vw;
}

/* swipte animations */
.card-close {
  transform: translateY(100vh) !important;
}

@keyframes fadeIn {
  0% {
    background: rgba(12, 12, 12, 0);
  }
  100% {
    background: rgba(12, 12, 12, 0.3);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(55vh);
  }
}
