#present {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, auto);
}
#present .presentList {
  display: -webkit-inline-box;
  margin: 2vh 0;
  grid-column: 2/21;
  grid-row: 2;
  height: 15vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
#present .user {
  margin-right: 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  height: 100%;
  width: calc(100% / 5);
}
#present .userPf {
  align-self: center;
  justify-self: center;
  height: 9.5vh;
  width: 9.5vh;
  grid-column: 1;
  grid-row: 1;
  background: grey;
  border-radius: 100%;
}
#present .userFirstName {
  margin-top: 1vh;
  align-self: end;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
  font-size: 1.75vh;
  color: #1e1e1e;
}
#present .userLastName {
  align-self: end;
  justify-self: center;
  grid-column: 1;
  grid-row: 3;
  font-size: 1.75vh;
  color: #1e1e1e;
}
