body,
a,
input {
  all: unset;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Raleway", sans-serif !important; */
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
}
div {
  user-select: none;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  opacity: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nonePannel {
  top: 0 !important;
  transform: scale(0.8);
  transform-origin: center;
  border-radius: 10px;
  filter: contrast(0.9) grayscale(1);
  transition: all 300ms ease-in-out;
}
.returnPannel {
  top: 0 !important;
  transform: scale(0.955);
  border-radius: 10px;
  transform-origin: center;
  filter: contrast(0.9) grayscale(1);
  transition: all 300ms ease-in-out;
}
.pannel {
  transform: scale(1);
  transform-origin: center;
  filter: grayscale(0);
  transition: all 300ms ease-in-out;
}
